---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import H1 from "../../components/H1.astro";
import BrutalPill from "../../components/BrutalPill.astro";
import { getCollection } from "astro:content";

const blogEntries = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<DefaultLayout metaTitle="Blog">
  <H1>Blog</H1>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li class="pb-8">
          <a
            href={`/blog/${blogPostEntry.slug}`}
            class:list={[
              "text-2xl font-bold text-primary",
              "hover:text-primary hover:drop-shadow-lg hover:underline",
            ]}
          >
            {blogPostEntry.data.title}
          </a>
          <div class="text-light text-gray-500">
            {blogPostEntry.data.date.toLocaleString("default", {
              month: "long",
            })}
            {blogPostEntry.data.date.getDate()},
            {blogPostEntry.data.date.getFullYear()}
          </div>
          <div>{blogPostEntry.data.description}</div>
          <div class="flex flex-row justify-between pt-2">
            <div class="flex flex-row flex-wrap gap-2">
              <div class="font-bold">Tags: </div>
              {blogPostEntry.data.tags?.map((tag) => (
                <BrutalPill class="bg-yellow-400">{tag}</BrutalPill>
              ))}
            </div>
            <a
              href={`/blog/${blogPostEntry.slug}`}
              class:list={[
                "font-bold text-primary",
                "hover:text-primary hover:drop-shadow-lg hover:underline",
              ]}
            >
              Read more
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</DefaultLayout>
